*~
.DS_Store
*.komodoproject
.project
.pydevproject
.settings
*.log
*.pid
*.pyc

# build targets
dmwa/public/javascript/target
dmwa/public/javascript/built
dmwa/public/index.html

# build dirs
node_modules
mobile_build

