.container{
	padding: 0 0 0 0;
}

.header-col{
	padding-bottom: 10px;
	margin-bottom: 1px;
	text-align: center;
}

.list-group-item-text{
	margin-bottom: 5px;
}

.label-info{
	font-size: 14px;
}

.footer-col{
	text-align: center;
}

.body-container{
	padding-top: 67px;
	text-align: center;
}

.dishdetail-header{
	padding-bottom: 10px;
	text-align: center;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.dishdetail-body{
	background-color: #f5f5f5;
}

.panel{
	margin-top: 15px;
	text-align: center;
	border: none;
	background-color: #ffffff;
}

.panel-body {
	text-align: left;
}

.list-group-item{
	font-size: 16px;
	border: none;
}
