<nav class="col-md-10 navbar-fixed-bottom panel-info dd-panel-group">
    <div class="panel-heading">
        <h3 class="panel-title"><%= obj.dishDetail.getRestaurantName() %></h3>
    </div>

    <div class="panel-body dd-footer-info">
        <p><%= obj.dishDetail.getRestaurantAddr() %></p>
        <p><%= obj.dishDetail.getRestaurantTel() %></p>
    </div>
</nav>
