<div id="dd-header-container" class="row bg-primary">
	<h3>
	    <div class="col-xs-3">
	    	<span class="glyphicon glyphicon-arrow-left success dd-header-bk-button" role="button"></span>
	    </div>

	    <div class="col-xs-6 dd-header-title">
		    Dish Reviews
	    </div>

	    <div class="col-xs-3">
	    	<span class='glyphicon glyphicon-thumbs-up'></span>
	    	<span><%= obj.dishDetail.getReviews().length %></span>
	    </div>
    </h3>
</div>