<div class="row navbar-fixed-top bg-primary">
	<div id="dd-header-container">
		<div class="h2 dd-header-bk-button col-xs-3 dd-header-back-button" role="button">
			<span class="glyphicon glyphicon-arrow-left success"/>
		</div>

		<div class="col-xs-6 dd-header-element dd-header-title vcenter">
			<span><%= obj.dishDetail.getDishName() %></span>
		</div>

	    <div class="h3 col-xs-3 dd-header-fav-icon">
	    	<span class="glyphicon glyphicon-thumbs-up"></span>
	    	<span><%= obj.dishDetail.getReviews().length %></span>
	    </div>
	</div>
</div>
