<div class="col-xs-6 center-block">
	<form class="navbar-form" role="search">
		<div class="form-group">
		  <input type="text" class="form-control">
		</div>
		<button type="submit" class="btn btn-primary">Search</button>
	</form>
</div>
