<div class="row">
	<div class="footer-col col-xs-12 col-md-4 col-md-offset-4">
		<form role="search">
			<input type="text" class="form-control">
			<button type="submit" class="btn btn-success">Search</button>
		</form>
	</div>
<div/>
