<div class="row navbar-fixed-top bg-primary">
    <div id="dd-header-container">
        <div class="col-xs-2 dd-header-bk-button">
            <span class="glyphicon glyphicon-arrow-left success"/>
        </div>

        <div class="col-xs-7 dd-header-element dd-header-title">
            <span><%= obj.dishDetail.getDishName() %></span>
        </div>

        <div class="col-xs-3 dd-header-fav-icon">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <span><%= obj.dishDetail.getReviews().length %></span>
        </div>
    </div>
</div>
