<div id="dd-header-container" class="row navbar-fixed-top bg-primary">
	<div class="dd-header-bk-button col-xs-3 h3" role="button">
		<span class="glyphicon glyphicon-arrow-left success"/>
	</div>

	<div class="col-xs-6 h3">
		<span><%= obj.dishDetail.getDishName() %></span>
	</div>

    <div class="col-xs-3 h3">
    	<span class="glyphicon glyphicon-thumbs-up"></span>
    	<span><%= obj.dishDetail.getReviews().length %></span>
    </div>
</div>
