<div id="dd-body-container">

	<div class="col-md-10 panel-info dd-panel-group ">
		<ul class="list-group panel-body">
			<% _.each(obj.dishDetail.getReviews(), function(r) { %>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-comment"></span>
					<span><%= r %></span>
				</li>
			<% }); %>
		</ul>
	</div>

</div>
