<div class="dishdetail-header row bg-Info">
	<h3>
	    <div class="col-xs-3 col-md-3">
	    	<a id="dishdetail-back-button" class="glyphicon glyphicon-arrow-left" role="button"></a>
	    </div>

	    <div class="col-xs-6 col-md-6">
		    Dish Reviews
	    </div>

	    <div class="col-xs-3 col-md-3">
	    	<span class='glyphicon glyphicon-thumbs-up'></span>
	    	<span><%= obj.dishDetail.getReviews().length %></span>
	    </div>
    </h3>
</div>