<div class="header">
    <%= obj.header() %>
</div>
<div id="scrollable_page_wrapper">
    <div class="scrollable_page">
        <%= obj.body() %>
    </div>
    <div id="footer_spacer"></div>
</div>
<div class="footer_wrapper">
    <div class="footer-container">
        <%= obj.footer() %>
    </div>
</div>
