<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "wz.dmwa.app"
        versionCode = "15"
        version     = "0.0.2" >

    <!-- versionCode is optional and Android only -->

    <name>Wise Foody</name>
    <description>
        Find top reviewed dishes around you.
    </description>
    <icon src="icon.png" />
    <preference name="phonegap-version" value="3.6.3" />
    <preference name="fullscreen" value="true" />

    <preference name="android-minSdkVersion" value="10" />
    <preference name="android-targetSdkVersion" value="19" />

    <!-- http://stackoverflow.com/questions/23387007/phonegap-build-permissions-in-android -->
    <preference name="permissions" value="none"/>
    <feature name="http://api.phonegap.com/1.0/geolocation" />

    <access origin="geo:*" launch-external="yes" />
    <access origin="tel:*" launch-external="yes" />
</widget>
