<?xml version="1.0" encoding="UTF-8" ?>
<!-- This file is copied to mobile build folder/www/config.xml and used by phonegap build
-->
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "wz.dmwa.app"
        versionCode = "20"
        version     = "0.0.5" >
        <!-- version is optional and Android only -->
    <name>Wise Foody</name>
    <description>
        Find top reviewed dishes around you.
    </description>

    <preference name="phonegap-version" value="3.6.3" />
    
    <preference name="fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true"/>

    <preference name="android-minSdkVersion" value="10" />
    <preference name="android-targetSdkVersion" value="19" />
    <!-- http://stackoverflow.com/questions/23387007/phonegap-build-permissions-in-android -->
    <preference name="permissions" value="none"/>
    <feature name="http://api.phonegap.com/1.0/geolocation" />

    <icon src="icon.png" />
    <!-- Android must have these to work properly with splash screen -->
    <!-- https://forum.ionicframework.com/t/need-help-with-displaying-splash-screen-on-android-cordova-3-6/10436/10 -->
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="5000" />
    <platform name="android">
        <icon src="icon.png" width="180" height="180" />
        <splash src="res/android/sps/hdpi.png" density="port-hdpi"/>
        <splash src="res/android/sps/ldpi.png" density="port-ldpi"/>
        <splash src="res/android/sps/mdpi.png" density="port-mdpi"/>
        <splash src="res/android/sps/xhdpi.png" density="port-xhdpi"/>
    </platform>

    <content src="index.html" />
    <access origin="*" />
</widget>
